:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --border-color:#dbdbdb;
    --header-height:120px;
    --navbar-height:22.8px;
    --star-gold-color:#ffce3e;
    --header__sort-bar-height:46px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    /* 12 cột chia cho 5 */
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    display: block;
    text-decoration: none;
}
/* test */
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* animation qr code */
@keyframes hiendan{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
/* modal css */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: hiendan linear 0.2s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    
}
.modal__body{
    background-color:var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}
/* button style */
.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-block;
}
.btn:hover{
    cursor: pointer;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* select */
.select-input{
    padding: 0 12px;
    height: 36px;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--white-color);
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    top: 28px;
    display: none;
    cursor: pointer;
    border-radius: 2px;
    padding:12px 16px;
    list-style: none;
    background-color: var(--white-color);
}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
    text-decoration: none;
}
.select-input__link:hover{
    color: var(--primary-color);
}
/* page */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    list-style: none;
    margin: 0 8px;
}
.pagination-item__link{
    --height:30px;
    text-decoration: none;
    font-size: 1.6rem;
    min-width: 40px;
    color: #939393;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active:hover .pagination-item__link{
    background-color: #f06044;
}
/* footer */
